# Core Dependencies
react
react-dom
axios
jwt-decode
react-easy-crop
react-markdown
remark-gfm
@tailwindcss/typography
react-router-dom
framer-motion
lucide-react
recharts
clsx
tailwind-merge

# CSS & Styling
tailwindcss
postcss
autoprefixer
@tailwindcss/postcss

# Build & Dev Tools
vite
typescript
@vitejs/plugin-react
@vitejs/plugin-basic-ssl
@types/react
@types/react-dom
@types/node
