@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-primary-light: #818CF8;
  --color-primary-dark: #3730A3;

  --color-secondary: #64748B;
  --color-secondary-light: #94A3B8;
  --color-secondary-dark: #334155;

  --color-background: #F8FAFC;
  --color-surface: #FFFFFF;

  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-error: #EF4444;

  --font-sans: Inter, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-secondary-dark antialiased;
  }
}